In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# Membaca dataset
data = pd.read_csv('cat_breeds.csv')
data.head()

,name,length,origin,min_life_expectancy,max_life_expectancy,min_weight,max_weight,family_friendly,shedding,general_health,playfulness,children_friendly,grooming,intelligence,other_pets_friendly
0,Abyssinian,12 to 16 inches,Southeast Asia,9.0,15.0,6.0,10.0,3,3,2,5,5,3,5,5
1,Aegean,Medium,Greece,9.0,10.0,7.0,10.0,5,3,4,4,5,4,4,3
2,American Bobtail,Medium,United States and Canada,11.0,15.0,8.0,13.0,4,4,4,4,4,3,4,4
3,American Shorthair,12 to 15 inches,United States,15.0,20.0,7.0,12.0,3,3,4,2,4,4,4,3
4,American Wirehair,Medium to large,United States,14.0,18.0,8.0,15.0,4,3,5,3,4,5,4,3

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 62 non-null     object
 1   length               62 non-null     object
 2   origin               62 non-null     object
 3   min_life_expectancy  62 non-null     float64
 4   max_life_expectancy  62 non-null     float64
 5   min_weight           62 non-null     float64
 6   max_weight           62 non-null     float64
 7   family_friendly      62 non-null     int64
 8   shedding             62 non-null     int64
 9   general_health       62 non-null     int64
 10  playfulness          62 non-null     int64
 11  children_friendly    62 non-null     int64
 12  grooming             62 non-null     int64
 13  intelligence         62 non-null     int64
 14  other_pets_friendly  62 non-null     int64
dtypes: float64(4), int64(8), object(3)
memory usage: 7.4+ KB

In [4]:
df = pd.DataFrame(data)

In [5]:
#Normalisasi data
#df[['family_friendly', 'shedding', 'general_health', 'playfulness', 'children_friendly', 'grooming', 'intelligence', 'other_pets_friendly']] /= 5.0

In [71]:
# Menerima input rating dari pengguna
user_rating = {}
for feature in ['family_friendly', 'shedding', 'general_health', 'playfulness', 'children_friendly', 'grooming', 'intelligence', 'other_pets_friendly']:
    rating = float(input(f"Masukkan rating untuk fitur {feature}: "))
    user_rating[feature] = rating

In [72]:
#Menambah rating pengguna ke dataframe
df = df.append(user_rating, ignore_index=True)  # Assign the appended dataframe back to df

In [73]:
# Menghitung similarity dengan Cosine Similarity
similarity_matrix = cosine_similarity(df[['family_friendly', 'shedding', 'general_health', 'playfulness', 'children_friendly', 'grooming', 'intelligence', 'other_pets_friendly']])

# Mendapatkan index kucing yang paling mirip dengan pengguna
user_index = df.shape[0] - 1
similar_kitten_index = similarity_matrix[user_index].argsort()[:-1][::-1]

In [74]:
# Mendapatkan similarity score
similarities = similarity_matrix[user_index][similar_kitten_index]

In [75]:
top_10_recommendations = df.loc[similar_kitten_index[:10], 'name']

In [76]:
print("Rekomendasi Kucing:")
for i, kitten_name in enumerate(top_10_recommendations):
    similarity_score = similarities[i]
    print(f"{kitten_name} - Similarity: {similarity_score}")

Rekomendasi Kucing:
European Shorthair - Similarity: 0.9519833036228567
Oriental Bicolor - Similarity: 0.9449111825230682
Arabian Mau - Similarity: 0.9441634993361119
California Spangled - Similarity: 0.9441634993361119
Khao Manee - Similarity: 0.9406341620035448
Snowshoe - Similarity: 0.9402561526802479
Maine Coon - Similarity: 0.9401747557920132
Cyprus - Similarity: 0.9368640700305919
Sokoke - Similarity: 0.9360504666899517
Brazilian Shorthair - Similarity: 0.9360504666899517

In [77]:
import pickle

# Assuming you have the similarity matrix calculated and assigned to the variable 'similarity_matrix'
# Save the similarity matrix to a file
filename = 'similarity_matrix.pkl'
with open(filename, 'wb') as file:
    pickle.dump(similarity_matrix, file)