In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# Membaca dataset
data = pd.read_csv('cat_breeds.csv')
data.head()

,name,length,origin,min_life_expectancy,max_life_expectancy,min_weight,max_weight,family_friendly,shedding,general_health,playfulness,children_friendly,grooming,intelligence,other_pets_friendly
0,Abyssinian,12 to 16 inches,Southeast Asia,9.0,15.0,6.0,10.0,3,3,2,5,5,3,5,5
1,Aegean,Medium,Greece,9.0,10.0,7.0,10.0,5,3,4,4,5,4,4,3
2,American Bobtail,Medium,United States and Canada,11.0,15.0,8.0,13.0,4,4,4,4,4,3,4,4
3,American Shorthair,12 to 15 inches,United States,15.0,20.0,7.0,12.0,3,3,4,2,4,4,4,3
4,American Wirehair,Medium to large,United States,14.0,18.0,8.0,15.0,4,3,5,3,4,5,4,3

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 62 non-null     object
 1   length               62 non-null     object
 2   origin               62 non-null     object
 3   min_life_expectancy  62 non-null     float64
 4   max_life_expectancy  62 non-null     float64
 5   min_weight           62 non-null     float64
 6   max_weight           62 non-null     float64
 7   family_friendly      62 non-null     float64
 8   shedding             62 non-null     float64
 9   general_health       62 non-null     float64
 10  playfulness          62 non-null     float64
 11  children_friendly    62 non-null     float64
 12  grooming             62 non-null     float64
 13  intelligence         62 non-null     float64
 14  other_pets_friendly  62 non-null     float64
dtypes: float64(12), object(3)
memory usage: 7.4+ KB

In [26]:
df = pd.DataFrame(data)

In [36]:
#Normalisasi data
#df[['family_friendly', 'shedding', 'general_health', 'playfulness', 'children_friendly', 'grooming', 'intelligence', 'other_pets_friendly']] /= 5.0

In [39]:
# Menerima input rating dari pengguna
user_rating = {}
for feature in ['family_friendly', 'shedding', 'general_health', 'playfulness', 'children_friendly', 'grooming', 'intelligence', 'other_pets_friendly']:
    rating = float(input(f"Masukkan rating untuk fitur {feature}: "))
    user_rating[feature] = rating

Masukkan rating untuk fitur family_friendly: 4
Masukkan rating untuk fitur shedding: 5
Masukkan rating untuk fitur general_health: 2
Masukkan rating untuk fitur playfulness: 1
Masukkan rating untuk fitur children_friendly: 3
Masukkan rating untuk fitur grooming: 5
Masukkan rating untuk fitur intelligence: 7
Masukkan rating untuk fitur other_pets_friendly: 1

In [46]:
#Menambah rating pengguna ke dataframe
df.append(user_rating, ignore_index=True)

<ipython-input-46-de1438b855d7>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(user_rating, ignore_index=True)

,name,length,origin,min_life_expectancy,max_life_expectancy,min_weight,max_weight,family_friendly,shedding,general_health,playfulness,children_friendly,grooming,intelligence,other_pets_friendly
0,Abyssinian,12 to 16 inches,Southeast Asia,9.0,15.0,6.0,10.0,0.017143,0.017143,0.011429,0.028571,0.028571,0.017143,0.028571,0.028571
1,Aegean,Medium,Greece,9.0,10.0,7.0,10.0,0.028571,0.017143,0.022857,0.022857,0.028571,0.022857,0.022857,0.017143
2,American Bobtail,Medium,United States and Canada,11.0,15.0,8.0,13.0,0.022857,0.022857,0.022857,0.022857,0.022857,0.017143,0.022857,0.022857
3,American Shorthair,12 to 15 inches,United States,15.0,20.0,7.0,12.0,0.017143,0.017143,0.022857,0.011429,0.022857,0.022857,0.022857,0.017143
4,American Wirehair,Medium to large,United States,14.0,18.0,8.0,15.0,0.022857,0.017143,0.028571,0.017143,0.022857,0.028571,0.022857,0.017143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,York Chocolate,Large,United States,13.0,15.0,10.0,18.0,0.022857,0.022857,0.017143,0.022857,0.022857,0.011429,0.022857,0.017143
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.400000,0.600000,1.400000,1.400000,1.200000,1.200000,0.400000,1.000000
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,3.000000,7.000000,7.000000,6.000000,6.000000,2.000000,5.000000
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,5.000000,2.000000,1.000000,3.000000,5.000000,7.000000,1.000000
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,5.000000,2.000000,1.000000,3.000000,5.000000,7.000000,1.000000

In [47]:
# Menghitung similarity dengan Cosine Similarity
similarity_matrix = cosine_similarity(df[['family_friendly', 'shedding', 'general_health', 'playfulness', 'children_friendly', 'grooming', 'intelligence', 'other_pets_friendly']])

# Mendapatkan index kucing yang paling mirip dengan pengguna
user_index = df.shape[0] - 1
similar_kitten_index = similarity_matrix[user_index].argsort()[:-1][::-1]

In [48]:
# Mendapatkan similarity score
similarities = similarity_matrix[user_index][similar_kitten_index]

In [49]:
top_10_recommendations = df.loc[similar_kitten_index[:10], 'name']

In [50]:
print("Rekomendasi Kucing:")
for i, kitten_name in enumerate(top_10_recommendations):
    similarity_score = similarities[i]
    print(f"{kitten_name} - Similarity: {similarity_score}")

Rekomendasi Kucing:
Manx - Similarity: 0.9155096366160447
Persian - Similarity: 0.9060911769801213
American Shorthair - Similarity: 0.8998425413316953
American Shorthair - Similarity: 0.8998425413316953
Lykoi - Similarity: 0.8824146296699634
British Longhair - Similarity: 0.8818456905050615
American Wirehair - Similarity: 0.8786002854190645
Turkish Van - Similarity: 0.8686264066441491
Burmese - Similarity: 0.8672617004934885
Javanese - Similarity: 0.8639151655681049